.recetteCard {
  width: 400px;
  height: 650px;
  border-radius: 5px;
  margin: 20px;
  color: white;
  background-color: var(--secondary);
  .recette {
    font-size: 20px;
    margin: 10px;
  }
  .logo {
    width: 100px;
  }
  i {
    font-size: 20px;
  }
}
