@use "../../assets/styles/mixins" as mixin;
main {
  margin: 10px;
  h1 {
    font-size: larger;
    text-align: center;
  }
  h2 {
    font-size: medium;
    text-align: center;
  }
  p {
    width: 500px;
    text-align: center;
    font-size: smaller;
    margin-bottom: 20px;
    @include mixin.xs {
      width: 250px;
    }
  }
}
