@use "../../assets/styles/mixins" as mixin;

.header {
  color: white;
  background-color: var(--primary);
  position: relative;
  width: 100%;
  margin: 0 auto;
  .nav {
    background-color: var(--primary);
    justify-content: start;
    height: 100%;
    
  
   
  }

  
  h3 {
    color: var(--secondary);
  }
  a:hover {
    background-color: rgba(255, 255, 255, 0.123);
  }
  .logo {
    height: 70.4px;
    width: 100px;
    @include mixin.xs{
      height: 50px;
      width: 75px;
      margin-right: 30px;
    }

  
  }  .burgerMenu {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      a {
        text-decoration: none;
        margin-right: 30px;
      }
      @include mixin.sm-lt {
        display: none;
      }
    }
    .mobileHeader {
      font-size: 2.2rem;
      display: none;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
      @include mixin.sm-lt {
        display: block;
        font-size: 1.8rem;
      }}
  
}
