@use "../../assets/styles/mixins" as mixin;

footer {
  color: white;
  background-color: var(--primary);
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include mixin.xs {
    flex-direction: column;
  }
  a {
    color: white;
  }

  .logo {
    height: 100px;
    width: 200px;
    @include mixin.xs {
      height: 70px;
      width: 100px;
    }
  }
  l1 {
    margin-bottom: 10px;
  }
}
