@use "../../assets/styles/mixins" as mixin;

.listeworkout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .workout {
    width: 400px;
    height: auto;
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
    @include mixin.xs {
      width: 200px;
      flex-direction: column;
      justify-content: center;
    }
    p {
      font-size: smaller;
    }
  }
}

.addworkout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @include mixin.xs {
    flex-direction: column;
  }
  margin-bottom: 5%;
  input {
    margin-right: 10px;
    @include mixin.xs {
      margin: 0;
      margin-bottom: 10px;
    }
  }
  label {
    margin-right: 10px;
    @include mixin.xs {
      margin: 0;
      margin-bottom: 10px;
    }

    select {
      margin-right: 10px;
      @include mixin.xs {
        margin: 0;
        margin-bottom: 10px;
      }
    }
  }
  .select {
    @include mixin.xs {
      margin: 0;
      margin-bottom: 10px;
    }
  }
  .sets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    @include mixin.xs {
      margin: 0;
      margin-bottom: 10px;
    }
  }
  button {
    margin-right: 10px;
    @include mixin.xs {
      margin: 0;
      margin-bottom: 10px;
    }
  }
}
